[submodule ".codeigniter"]
	path = .codeigniter
	url = git://github.com/EllisLab/CodeIgniter.git
[submodule "application/third_party/restserver"]
	path = application/third_party/restserver
	url = git://github.com/philsturgeon/codeigniter-restserver.git
